@model StronglyTypedViewDemo.Models.Employee                  

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3><b>Employee Details are</b></h3>
<h2>@Model.EmployeeId</h2>
<h2>@Model.EmployeeName</h2>
<h2>@Model.EmployeeAge</h2>



 