<form>
    <h3 class="text-centre">LOGIN</h3>
    <label>Username:</label>
    <input class="form-control" type="text" name="user" />
    <br/>
    <br />
    <label>Password:</label>
    <input class="form-control" type="password" name="pass" />
    <br/>
    <br />
    <input class="form-control" type="submit" value="Submit" />
</form>
