
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2> This is About Page </h2>

<h2>View Data is: @ViewData["Var1"]</h2>
<h2>View Bag Data is: @ViewBag.Var2</h2>
<h2>Temp Data is: @TempData["Var3"]</h2>
<h2>Session Data is: @ViewData["Var4"]</h2>

