
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h2>This is About Page</h2>

<h3>View data is:@ViewData["var1"]</h3>
<h3>ViewBag data is:@ViewBag.Var2</h3>
<h3>Temp data is:@TempData["var3"]</h3>
<h3>Session data is:@Session["var4"]</h3>
