
@{
    ViewBag.Title = "AboutUs";
}

<ul>
    <li>@Html.ActionLink("Index", "Index", "Home")</li>
    <li>@Html.ActionLink("About Us", "AboutUs", "Home")</li>
    <li>@Html.ActionLink("Contact Us", "ContactUs", "Home")</li>

</ul>



<h2>AboutUs</h2>
<h3>Hello This is About Us Page</h3>

<h3><b>My name is Priya</b></h3>

